<!doctype html> 
<html> 
	<head>
		<title>Tic-tac-toe</title> 
		<meta charset = "utf-8"> <link href = "ttt-styles.css" rel = "stylesheet">
	</head> 
	<body>
		<!-- <h1>Let's play Tic-Tac-Toe!</h1> --> 

		<div id="boardWrap"></div>

		<input type = "button" value="Start Tic Tac Toe" id="startButtonTTT">
		<input type = "button" value="Start Connect Four" id="startButtonCF">

		<script src = "../mapHell.js"></script>
		<script src = "../Model/model.js"></script>
		<script src = "view.js"></script>
		<script src = "../Controller/controller.js"></script>
		<script src = "../Model/ai.js"></script>
		
		

	</body>
</html>